<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>{% block pagetitle %}{% endblock %}</title>
  </head>
  <body>
    <header><div class="container">
        <nav class="navbar navbar-expand-md mb-4 navbar-dark">
          <a class="navbar-brand" href="/">Pyzza</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('catalog') }}">Каталог</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('cart') }}">Корзина</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('orders') }}">Заказы</a>
              </li>
            </ul>
          </div>
        </nav>
    </div></header>

    <main role="main" class="container mb-4">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      <h1>{% block h1 %}{% endblock %}</h1>
      {% block content %}
      {% endblock %}
    </main>

    <footer><div class="container">
        <nav class="navbar navbar-expand-md mt-4 navbar-dark">
          <a class="navbar-brand" href="/">Pyzza</a>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('catalog') }}">Каталог</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('cart') }}">Корзина</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('orders') }}">Заказы</a>
              </li>
            </ul>
          </div>
        </nav>
    </div></footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>
